<header class="pt-3">
    <div class="menu row">
        <!-- <p class="col-sm">Repos</p>
        <p class="col-sm">Profiles</p> -->
        <a class="nav-item nav-link col-sm" routerLink="/repositories" routerLinkActive='active'>Repos</a>
        <a class="nav-item nav-link col-sm" routerLink="/profiles" routerLinkActive='active'>profiles</a>
    </div>
    <div class="text-center">
        <P class="searchText git text-center">Github Search</P>
    </div>
</header>
<form class="form-inline" submit="searchUser">
    <div class="text-center">
        <input [(ngModel)]="user"  name="user" type="search" class="form-control" placeholder="Search" id="searchArea">
    </div>
     
    <div class="text-center">
        <input (click)="showUserName()" type="submit" value="search" class="btn btn-secondary btn-sm mt-3" >
    </div>
</form>
<p class="text-center">{{displayUser.login}}</p>

